<section class="search">
    <h2 class="search__title">¿Qué quieres ver hoy?</h2>
    <input class="search__title--input" type="text" placeholder="Buscar...">
</section><br><br>

<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis vitae odio eum optio. Libero vero qui dignissimos commodi doloremque voluptates doloribus nesciunt maxime. Aut consequatur explicabo impedit illo ipsa.
</div>

<section class="carousel">
    <div class="carousel__container">
        <div class="carousel__item">
            <img class="carousel-item__img" src="https://cutt.ly/Gz0OD8o">
        </div>
        <div class="carousel__item">
            <img class="carousel-item__img" src="https://cutt.ly/Tz0OYp2">
        </div>
        <div class="carousel__item">
            <img class="carousel-item__img" src="https://cutt.ly/nz0OLFK">
        </div>
        <div class="carousel__item">
            <img class="carousel-item__img" src="https://cutt.ly/hz0OBnf">
        </div>
        <div class="carousel__item">
            <img class="carousel-item__img" src="https://cutt.ly/gz0O9FQ">
        </div>
        <div class="carousel__item">
            <img class="carousel-item__img" src="https://cutt.ly/5z0PiLn">
        </div>   
    </div>
</section><br><br>

<div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita molestiae nisi? Quam doloribus officia, rem excepturi, totam, harum minus sapiente quibusdam odio voluptates ullam? Sed, fuga? Voluptatem, veniam odio!
sss
</div>